<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body >

  <div class="pd-8 mt-80">
<center>
  <h1 class="m-8 font-sans text-5xl">Admin Dashboard</h1>
  <button class="rounded-full border-2 border-black p-4" type="submit"> <a href="/AddCourse.html" class=" m-8 pd-8" >Add Courses</a> </button>
  <button class="rounded-full border-2 border-black p-4" type="submit"> <a href="/AssignCourse.html"  class="m-8 pd-8" > Assign Course</a> </button>
</center>
</div>
</body>
</html>