<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div class="pd-6 mt-60" > 
        <center>
    <h1 class="m-8 font-sans text-5xl"> Login Authentication System in Flask.</h1>
    <a class="rounded-full border-2 p-4 m-4 border-black" href="{{ url_for('login') }}">Login Page</a>
    <a class="rounded-full border-2  p-4 m-4 border-black" href="{{ url_for('register') }}">Register Page</a>
</div></center>
</body>

</html>