<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    
    <div class=" mt-60">
        <center>
            <div class="w-80">
    <h1 class="m-8 font-sans text-5xl">Login Page</h1>

    <form method="POST" action="" class=" border-2 p-4 border-black">
        {{ form.hidden_tag() }}
        <div class="rounded-full border-2 p-2 m-4 border-black"> {{ form.username }} </div>
        <div class="rounded-full border-2 p-2 m-4 border-black">{{ form.password }}  </div>
        <div class="rounded-full border-2 p-2 m-4 border-black">{{ form.submit }}    </div>

    </form>
<br><br><br>
    <a class="rounded-full border-2 p-4 mt-4 border-black" href="{{ url_for('register') }}">Don't have an account? Sign Up</a>
</center>
</div>
</div>
</body>

</html>